fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pillow==11.1.0
numpy==1.26.4
opencv-python==4.10.0.84
python-dotenv==1.0.1
google-cloud-translate==3.19.0
pydantic-settings==2.7.1
tensorflow-cpu==2.16.1
requests